body{
    background-color: white;
}



header{
    background-color: grey;
    width:100vw;
    height:12vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.section-1{
    width:100vw;
    height:100vh;
    background-color:rgb(127, 214, 255)
}

.small-conteiner{
    background-color: black;
    margin:auto;
    height:25vw;
    width:70vw;
}

.left-small-part{
    width:40%;
    height:100%;
    background:blue;

}

.right-small_part{
    width:60%;
    height:100%
}