body{
    background-color: white;
}

button:hover{
    filter:brightness(1.5);
}

header{
    background-color: white;
    width:100%;
    height:8vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

header a{
    text-decoration:none;
    color:inherit;
    margin-left:1vw;
}

header img{
    width:5vw;
    position:relative;
    top:0.35vh;
    margin-left:1vw;
}

.nav2{
    position:relative;
    margin-right:1vw;
}

.section-1{
    width:100%;
    height:90vh;
    background-color:rgba(180,208,231,255);
}

.section-1 h1{
    text-align:left;
    font-weight:bold;
    font-size:12vh;
    position:relative;
    left:15vw;
    top:6vh;
}
.small-conteiner{
    margin:auto;
    height:25vw;
    width:70vw;
    position: relative;
    top:10vh;
    display: flex;
    justify-content:center;
}

.left-small-part{
    width:30%;
    height:100%;

}


.right-small-part{
    width:70%;
    height:100%;
}


.right-small-part img{
    height:60vh;
}

button{
    color: white;
    background-color: rgba(0,97,255,255);
    padding:2vh;
    border:1px solid transparent;
    margin-top:4vh;
    margin-bottom:4vh;
    
}


/*inizio seconda sezione*/
.section-2{
    width:100%;
    height:250vh;

}

#plan-title{
    text-align:center;
    position:relative;
    top:18vh;
    right:10vw;
    font-size:3vw;
    font-weight:bold;
}



.column-conteiner{
    width:70vw;
    display:flex;
    justify-content:space-evenly;
    margin:auto;
    
    
}

.column{
    width:20vw;
    height:120vh;
    margin-top:40vh;
    border: 1px solid #d5d5d8;
}

.plans{
    text-align:center;
    width:100%;
    border-bottom:1px solid #d5d5d8;
}

.info-plans{
    margin-top:4vh;
    margin-left:1vw;
    
}

.info-plans h1{
    font-size:6vh;
    font-weight:bold;
}

.info-plans h3{
    font-weight:bold;
    margin-top:2vh;
    font-size:3vh;
}

.mese{
    color:#868e9a;
}

.criteri{
    margin-top:4vh;
    font-size:1vw;
}

.info-plans button{
    margin-top:7vh;
    width:18vw;
}
.info-plans span{
    position:relative;
    top:2vh;
}

.info-plans a{
    position:relative;
    top:2vh;
}

.important-point{
    margin-bottom:12vh;
    position:relative;
    top:8vh
}

.point{
    margin-top:5vh;
}

hr{
    width:2.5vw;
    position:relative;
    top:6vh;
    color: #d5d5d8;
}


.enterprise-conteiner{
    margin:auto;
    margin-top:10vh;
    width:65vw;
    height:35vh;
    border:1px solid #d5d5d8;
}

.prisetop{
        text-align:center;
        border-bottom:1px solid #d5d5d8;
        padding:1vh;
}

.flexprise{
    display:flex;
}

.priseleft{
    width:70%;
    height:80%;
    margin-left:1vw;
}

.priseleft h1{
    font-weight:bold;
    font-size:5vh;
    margin-top:3vh;
}

.priseleft h3{
    font-weight:bold;
    margin-top:3vh
    
}

.priseleft p{
    margin-top:7vh;
}

.priseright{
    width:30%;
    height:80%;
}
.partner-conteiner{
    margin:auto;
    margin-top:20vh;
    width:65vw;
    height:55vh;
    display: flex;
    justify-content: center;
}

.left-partner{
    width:60%;
    height:100%;
}

.left-partner img{
     width:35vw; 
 }
    
.right-partner{
    width:40%;
    height:100%;
}

.right-partner h1{
    font-weight:bold;
    font-size:6vh;
}

.right-partner p{
    margin-top:5vh;
}

.partner-button{
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top:5vh;

}
    
.section-3{
    width:100%;
    height:180vh;
}
    

.column-conteiner-2{
    width:67vw;
    display:flex;
    justify-content:space-around;
    gap:0px;
    margin:auto;
    flex-wrap: wrap;
    margin-top:60vh;
    
    
}

#section-3-title{
    position:relative;
    text-align:center;
    right:10vw;
    top:60vh;
    font-size:5vh;
    font-weight:bold;
}




.column-2{
    width:20vw;
    height:60vh;
    margin-top:5vh;;
    
    
}

.column-2 img{
    width:100%;
}

.column-2 h1{
    font-weight:bold;
    font-size:3vh;
    
}

.column-2 p{
    margin-top:3vh;
    
}


.client-conteiner{
    margin:auto;
    margin-top:10vh;
    width:65vw;
    height:25vh;
}

.client-conteiner h1{
    font-weight:bold;
    font-size:5vh;
}

.client-link{
    position:relative;
    top:6vh
}




.section-4{
    width:100%;
    height:100vh;

}

.image-conteiner{
    width: 100%;
    display:flex;
    justify-content:center;
}

.image-quad{
    width:650px;
    height:650px;
   
}

.division{
    display:flex;
    justify-content:center;
}

.image-inside{
    width:325px;
    height:325px;;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*color-setup*/
.green{
    background-color: #a2d39b;
}

.magenta{
    background-color:#61082b ;

}

.blue{
    background-color:#0093ce ;

}

.red{
    background-color:#ff1c1c ;

}

.fire{
   background-color:#d5001f ;
}

.cielo{
    background-color:#b4d0e7;


}

.darkblue{
    background-color: #0d2481;

}

.yellow{
    background-color: #ffd830;

}

.grey{
    background-color:#f5f5f5;
}

.grey img{
    margin-left:2vw;
    margin-top:2vh;
}

.grey p{
    margin-left:2vw;
    margin-top:6vh;
    font-size:1.6vw;
}


.image-inside img{
    text-align:center;
    width:50%;
    height:50%;
    
}

.prova-gratuita{
    width: 100%;
    height:325px;
    background-color:rgb(180 208 231);
}

.prova-conteiner{
    width:65vw;
    height:100%;
    margin:auto;
    display:flex;
    
    

    
}

.prova-left{
    width:50%;
    height:287px;
    font-size:4vh;
    margin-top:10vh;
    color: rgb(93 2 38);
    
}



.prova-right{
    width:40%;
    height:287px;
    margin-left:18vw;
    margin-top:7vh;
    
}



.question{
    width:100%;
    height: 60vh;
    background-color: aliceblue;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center
}

.question h1{
    font-size:5vh;
    font-weight:bold;
    margin-bottom:2vh;
    
}

.question details{
    margin-bottom:3vh;
    font-weight:bold;
    border-top:0.5px solid #b8b8b8;
    
 
}
.question summary{
    margin-top:3vh;
}

.last-summary{
    border-bottom:0.5px solid #b8b8b8;
    padding-bottom:3vh;
}


footer{
    width:100%;
    height:70vh;
    background-color: black;
    display:flex;
    justify-content:center;
    gap:6vw;
}

footer div{
    color:white;
    margin-top:8vh;

    
}

footer h1{
    font-size:5vh;
    margin-bottom:3vh;
    font-weight:bold;
}

footer p{
    font-size:3vh;
    margin-bottom:2vh;
}