body{
    background-color: white;
}



header{
    background-color: grey;
    width:100vw;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.section-1{
    width:100vw;
    height:80vh;
    background-color:rgb(127, 214, 255)
}

.small-conteiner{
    background-color: black;
    margin:auto;
    height:25vw;
    width:70vw;
    position: relative;
    top:35vh;
}

.left-small-part{
    width:40%;
    height:100%;
    background:blue;

}

.right-small_part{
    width:60%;
    height:100%
}

.section-2{
    width:100vw;
    height:250vh;

}

.column-conteiner{
    display:flex;
    justify-content:space-evenly;
    
}

.column{
    width:20vw;
    height:120vh;
    margin-top:40vh;
    background-color:yellow;
    
}

